/* Estilos generales */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: .5625rem;
  }
.contenedor_padre{
  font-size: 1em;
}

section{
  height: 100vh;
  padding-top: 50px;
  }

a{
  text-decoration: none;
  }

ul{
  list-style: none;
  }

h1{
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  color: #e2e2e9;
  }
    
h2{
  text-align: center;
  font-size: 56px;
  color: #e2e2e9;
  }

  h4{
    font-size: 24px;
  }

section h3{
  text-align: center;
  font-size: 36.8px;
  padding-bottom: none;
  }

h1,h2{
  font-family: 'Roboto';
  }

h3,h4,p,a{
  font-family: 'Roboto', sans-serif;
  }

p,span{
  font-size: 17.6px;
}
  
div ul{
  list-style:none
  }


/* Estilos de ID y class generales */

#informacion, 
#formacion, 
#contactos{
  display: flex;
  
  }
  
.informacion-personal, 
.acerca-de, .educacion, 
.habilidades, 
.contenedor_form, 
.contenedor_redes{
  display: flex; 
  flex: 1;
  flex-direction: column;
  }
  
.informacion-personal h3, 
.acerca-de h3, 
.educacion h3, 
.habilidades h3, 
.form h3, 
.redes h3{
  text-align: center;
  padding-bottom: 20px;
  text-decoration: underline;
  
  }
  
.informacion-personal i, 
.acerca-de i, .educacion i, 
.habilidades i, 
.contenedor_redes i, 
.contenedor_form i{
  padding-right: 10px;
  }
  
  
.educacion h4, 
.habilidades h4{
  padding-top: 20px;
  text-align: center;
  }


/* Header */

nav{
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  transition: top 0.5s;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: #0C1B75;
  background-image: linear-gradient(#02265bf0, #040c22f0);
  flex-direction: row;
  }

nav ul{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  }

nav ul li{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color:#326a88 ;
  border-radius: .625rem;
  color: white;
  display: flex;
  flex-direction: row;
  }  
nav ul li i{
  padding-right: 10px;
  font-size: 25px;
  }

nav ul li:hover{
  background: darkblue;
  }
  
nav a, nav i{
  color: #e2e2e9;
  }
  
nav a{
  font-size: 20px;
  }


/* section  HOME  */

#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 33, 116, 0.5), rgba(0, 0, 0, 0.9)), url(img2.jpg) no-repeat fixed;
  background-size: cover;
  }

#home button{
  background-color: #061720;
  border-radius: 1rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  }  
#home button:hover {
  background: #6096B4; 
  }

  #home button:active {
  background: #0C1B75; 
  }

#home a{
  color: #FFFF;
  }
    
.contenedor_home{
  margin-bottom: 32px;
  }

.nombre_home{
  margin-bottom: 20px;
  }
  
.imagen_perfil{
  display: flex;
  justify-content: center;
  }
  
.boton-home{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
  }
.boton-home button i{
  width:.9375rem;
  height:.9375rem;
  color: azure;
  padding-right: 20px;
  }
  
/* section INFORMACION */

#informacion{
  background: linear-gradient(rgba(05, 7, 12, 0.7), rgba(5, 7, 12, 0.75)), url(img3.jpg) no-repeat fixed;
  background-size: cover;
  color: #e2e2e9;
}

#informacion p{
  line-height: 50px;
  width:90%;
  font-size: 20px; 
  }

.acerca-de h3{
  padding-right: 15%;
  }

.informacion-personal p{
  padding-left: 10px;
  padding-top: 10px;
  text-align:center;
  }
  
.acerca-de p{
  padding-right: 15%;
  text-align: justify;
  }

.img1{
  border-radius: 50%;
  border-style: solid;
  border-color: #e2e2e9;
  }

/* section FORMACION */

#formacion{
  background: linear-gradient(rgba(7, 18, 36, 0.4), rgba(12, 12, 16, 0.9)), url(img1.jpg) no-repeat fixed;
  background-size: cover;
  color: #e2e2e9;
  }

.educacion p{
  padding-left: 10px;
  text-align:center;
  }
  
.titulo{
  font-style: oblique;
  font-weight: bold;
  }
  
.contenedor{
  width: 90%;
  padding: 0em 1.875em 3.125em;
  background: linear-gradient(#02265bf0, #040c22f0);
  background-size: contain;
  border: .125rem solid rgba(0,0,0,0.06);
  border-radius: .625em;
  box-shadow: 0 1.25em 1.875em rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(.625em);
  margin-bottom: .625em;
  margin-left: 3.75em;  
  border-radius: .625rem;
  }
  
.contenedor *{
  font-family: 'roboto';
  font-weight: 500;
  
  
  }
  
.contenedor h4{
  margin-bottom: 1.25em;
  letter-spacing: .125em;
  text-align: left;
  font-weight: bold;
  }
  
.detalles{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
  }
  
.menu{
  width: 90%;
  position: relative;
  border: .0625rem solid #6096B4;
  border-radius: 20px;
  }
  
.menu div{
  position: relative;
  width: 0;
  height: .5em;
  border-radius: .625rem;
  background-color: #6096B4;
  }
  
  /* Animacion-barra-programacion */
  
#html-menu{
  animation: html-barra 2s forwards;  
  }
  
  @keyframes html-barra{
    100%{
      width: 90%;
  }
  }
  
#css-menu{
  animation: css-barra 2s forwards;  
  }
  
  @keyframes css-barra{
    100%{
      width: 80%;
  }
  }
  
#js-menu{
  animation: js-barra 2s forwards;
  }
  
  @keyframes js-barra{
    100%{
      width: 70%;
  }
  }
  
  
#py-menu{
  animation: py-barra 2s forwards;
  }
  
  @keyframes py-barra{
    100%{
      width: 50%;
  }
  }
  
  
  /* Animacion-barra-diseño */
  
#premier-menu{
  animation: premier-barra 2s forwards;
  }
  
  @keyframes premier-barra{
    100%{
      width: 80%;
  }
  }
  
#after-menu{
  animation: after-barra 2s forwards;
  }
  
  @keyframes after-barra{
    100%{
      width: 40%;
  }
  }
  
#ilustrator-menu{
  animation: ilustrator-barra 2s forwards;
  }

  @keyframes ilustrator-barra{
    100%{
      width: 70%;
  }
  }
  
#cinema-menu{
  animation: cinema-barra 2s forwards;
  }
  
  @keyframes cinema-barra{
    100%{
      width: 30%;
  }
  }
  
#autocad-menu{
  animation: autocad-barra 2s forwards;
  }
  
  @keyframes autocad-barra{
    100%{
      width: 85%;
  }
  }
  /* Animacion-barra-ofimatica */
  
#word-menu{
  animation: word-barra 2s forwards;
  
  }
  @keyframes word-barra{
    100%{
      width: 90%;
  }
  }
#excel-menu{
  animation: excel-barra 2s forwards;
  
  }
  @keyframes excel-barra{
    100%{
      width: 80%;
  }
  }
  
#powerpoint-menu{
  animation: powerpoint-barra 2s forwards;
  }
  
  @keyframes powerpoint-barra{
    100%{
      width: 65%;
  }
  }

/* section CONTACTOS */

#contactos{
  background: linear-gradient(rgba(7, 18, 36, 0.4), rgba(12, 12, 16, 0.9)), url(img5.jpg) no-repeat fixed;
  background-size: cover;
  color: #e2e2e9;
  }

.contenedor_redes{
  align-items: center;
  }

.contenedor_redes ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  }
  
.contenedor_redes ul li{
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 30px;
  
  }
  
.contenedor_redes ul a{
  padding: 5px;
  margin: .2992px;
  color: #e2e2e9;
  text-transform:capitalize;
  }

.contenedor_form{
  display: flex;
  text-align: left;
  align-content: center;
  }
  
.contenedor_redes {
  text-align: center;
  }
  
  
.form_contenido > *{
  padding: 16px;
  }
  
.form_contacto{
  background: #02265bf0;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
  margin-left: 50px;
  margin-top: 10px;
  width: 90%;
  border-radius: 10px;
  }
  
.form_contacto form p{
  margin: 0;
  padding: 1em;
  }
  
.form_contacto form button, 
.form_contacto form input, 
.form_contacto form textarea{
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: .0625rem solid #6096B4;
  text-shadow: 2px 2px 4px #050505;
  color: white ;
  text-decoration-color: white;
  } 
  
.form_contenido form button{
  background: #6096B4;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  }

/* Footer */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C1B75;
  background-image: linear-gradient(#02265bf0, #040c22f0);
  height:50px;
  }

footer ul{
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

footer ul li{
  padding-left: 20px;
  padding-right: 20px;
}

footer ul li i{
  font-size: 25px;
  color: aliceblue;
  box-shadow: .2px .2px 3px #02265bf0;
  text-shadow: 2px 2px 4px #000000;
}

/* Dispositivos extra pequeños */
@media only screen and (max-width: 600px) {
  #link_home,#link_info,#link_forma,#link_cont,#link_cv{
    display: none;
    }
  
  nav ul li{
      margin-left: 5px;
      margin-right: 5px;
      padding: 0px 24px;
  }

  nav ul li i{
      padding-right: 10px;
      font-size: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      }
    
    .contenedor{
      margin-left: 15px;
    }

    #informacion p{
      font-size: 15px;
      text-align: left;
      line-height: 35px;
    }

    .educacion p{
      text-align: left;
    }

    .educacion h4{
      padding-bottom: 10px;
    }

    .img1{
      margin-top: 15px;
      max-width: 100%;
      width: 300px;
      height: 300px;
    }

    h1{
      font-size: 50px;
    }

    h2{
      font-size: 30px;
    }

    h4{
      font-size: 20px;
    }

    section h3{
      font-size: 25px;
    }

    #formacion{
      height: 125vh;
    }

    .contenedor_redes ul li{
      font-size: 20px;
    }
    p,span{
      font-size: 12px;
    }
}

/* Dispositivos pequeños */
@media only screen and (min-width: 600px) {
  #link_home,#link_info,#link_forma,#link_cont,#link_cv{
    display: none;
    }
  nav{
    padding-bottom: 12px;
    padding-top: 12px
  }
  nav ul li i{
      padding-right: 10px;
      font-size: 35px;
      }
    
    .contenedor{
      margin-left: 15px;
    }

    #informacion p{
      font-size: 19px;
      text-align: left;
    }

    .educacion p{
      text-align: left;
    }

    .educacion h4{
      padding-bottom: 10px;
    }
  
    .img1{
      margin-top: 15px;
      max-width: 100%;
      width: 350px;
      height: 350px;
    }
    #formacion{
      height: 120vh;
    }

    h4{
      font-size: 25px;
    }

    section h3{
      font-size: 30px;
    }

    p,span{
      font-size: 18px;
    }

    .contenedor_redes ul li{
      font-size: 25px;
    }
}

/* dispositivos medianos  */
@media only screen and (min-width: 768px) {
  #link_home,#link_info,#link_forma,#link_cont,#link_cv{
    display: flex;
    font-size: 19px;
    padding-left: 2px;
    padding-right: 2px;
    }

    nav ul li i{
      padding-right: 10px;
      font-size: 25px;
      }
    
      nav ul{
        justify-content: left;
      }

      #informacion p{
        font-size: 19px;
        text-align: justify;
      }
      .acerca-de p{
        padding-right: 10%;
      }

    section h3{
      font-size: 30px;
    }
    .informacion-personal p{
      padding-left: 14%;
    }

    .educacion p{
      padding-left: 13%;
      font-size: 20px;
    }

    .contenedor span{
      font-size: 20px;
    }

    .contenedor_redes a{
      font-size: 25px;
    }

    nav ul li{
      margin-left: 6px;
      margin-right: 6px;
      padding: 8px 3px;
      }  

      h4{
        font-size: 25px;
      }
  
      section h3{
        font-size: 32px;
      }
  
      p,span{
        font-size: 18px;
      }
}

/* Dispositivo grandes  */
@media only screen and (min-width: 1200px) {
  #link_home,#link_info,#link_forma,#link_cont,#link_cv{
    display: flex;
    font-size: 21px;
    padding-left: 2px;
    padding-right: 2px;
    }

    nav ul li{
      margin-left: 30px;
      margin-right: 25px;
      padding: 20px 15px;
      }  

    nav ul li i{
        padding-right: 10px;
        font-size: 25px;
        }  
    nav{
      padding-bottom: 18px;
      padding-top: 20px;
    }

    .img1{
      margin-top: 15px;
      max-width: 100%;
      width: 500px;
      height: 450px;
    }
}
